@media only screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .navigation.hide {
        display: flex !important;
    }

    .navigation a {
        padding: 1rem 2rem;
    }

    #temple-container {
        grid-template-columns: repeat(3, 1fr);
    }
}