@media only screen and (min-width:768px) {

    #menu {
        display: none;
    }

    /* NAV REMAINS FLEX */
    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        margin-top: 0;
    }

    .hide {
        display: flex;
    }

    .navigation a {
        width: auto;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    figure img {
        height: 220px;
    }

    main {
        padding: 2rem;
    }

}